{
  "components": {
    "securitySchemes": {
      "apiAuth": {
        "type": "apiKey",
        "name": "X-RapidAPI-Key",
        "in": "header"
      }
    }
  },
  "info": {
    "title": "BizToc",
    "description": "Get the latest business news articles.",
    "version": "v1"
  },
  "openapi": "3.0.1",
  "paths": {
    "/search": {
      "get": {
        "operationId": "getNews",
        "summary": "Retrieves the latest news whose content contains the query string.",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "Used to query news articles on their title and body. For example, ?query=apple will return news stories that have 'apple' in their title or body."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "summary of news"
                      },
                      "domain": {
                        "type": "string",
                        "description": "link of news"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://biztoc.p.rapidapi.com"
    }
  ]
}
